<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>RTCWebDCN</servlet-name>
		<servlet-class>dcn.ssu.ac.kr.RTCWebDCNServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RTCWebDCN</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
    <servlet-name>MessageServlet</servlet-name>
    <servlet-class>dcn.ssu.ac.kr.MessageServlet</servlet-class>
  </servlet>
	<servlet-mapping>
    <servlet-name>MessageServlet</servlet-name>
    <url-pattern>/message</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>DisconnectServlet</servlet-name>
    <servlet-class>dcn.ssu.ac.kr.DisconnectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisconnectServlet</servlet-name>
    <url-pattern>/_ah/channel/disconnected/</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <servlet-name>ConnectServlet</servlet-name>
    <servlet-class>dcn.ssu.ac.kr.ConnectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConnectServlet</servlet-name>
    <url-pattern>/_ah/channel/connected/</url-pattern>
  </servlet-mapping>
  
</web-app>
